<div class="page">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Blank Page</strong></div>
        <div class="panel-body">
            <p>Welcome to 1871, </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin accumsan ac urna non rhoncus. Vivamus ante dui, molestie id convallis a, vestibulum ut tortor. Nunc rutrum ligula consequat volutpat placerat. Cras cursus metus urna, eu commodo massa venenatis ornare. Donec sapien sem, eleifend in pulvinar vel, ullamcorper vitae metus. Proin nec tincidunt metus. Suspendisse eget faucibus felis. Vivamus varius ligula ut efficitur ultrices. Morbi condimentum mi eget lobortis viverra. Proin tempus ultrices lacus, non porttitor dolor convallis in. Sed diam nibh, facilisis a risus eleifend, hendrerit facilisis ligula. </p>
        </div>
    </section> 

</div>